$bg-primary: #236937;
$bg-action: #962800;
$bg-dark: #a82d00;
$font-size: 18px;

@mixin shadow() {
  box-shadow: 0 0 6px #333;
}

* {
  box-sizing: border-box;
}

@import "cards";
@import "base";

.overlay {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  color: #fff;
  h2 {
    text-align: center;

    margin: 30% auto;
  }
}

.aside{
  position: absolute;
  right: 0;
  &-1{
    top: 5%;
    transform: transformY('20px');
  }
  &-2{
    top: 2%;
  }
  &:nth-child(3){
    top: 2%;
  }
}